.layout-breadcrumb {
    ol {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
        gap: 0.5rem;
        flex-wrap: wrap;
        color: var(--text-color);

        li {
            font-weight: 400;
            font-size: 0.9375rem;
            
            &:first-child {
                font-weight: 500;
            }
        }
        
        .layout-breadcrumb-chevron {
            color: var(--text-color-secondary);
            font-weight: 400;
        }
    }
}

.content-breadcrumb {
    margin-bottom: 2rem;
    padding: 0 .5rem;
}