.layout-topbar {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;

    .topbar-start {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        .topbar-menubutton {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            width: 2.25rem;
            height: 2.25rem;
            flex-shrink: 0;
            transition: background-color 0.2s;
            background: transparent;

            i {
                font-size: 1.25rem;
                color: var(--text-color);
                transition: color var(--transition-duration);
            }

            &:hover {
                background-color: var(--surface-hover);
            }
        }

        .page-title-container {
            display: flex;
            align-items: center;
            margin-left: -0.5rem;

            .page-title {
                font-size: 1rem;
                font-weight: 400;
                color: #243444;
                margin: 0;
                white-space: nowrap;
                line-height: 1.2;
            }
        }
    }

    .topbar-menu {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            &.topbar-profile {
                margin-left: 1.5rem;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                
                img {
                    width: 2rem;
                    height: 2rem;
                }

                button {
                    border-radius: 50%;
                    width: 2rem;
                    height: 2rem;
                    transition: box-shadow var(--transition-duration);

                    &:focus {
                        box-shadow: var(--focus-ring);
                    }
                }
            }

            &.topbar-search {
                .p-inputtext {
                    padding-top: .5rem;
                    padding-bottom: .5rem;
                    border-radius: 2rem;
                }
            }
        }
    }
}